<h1>Sign In</h1>

<%= form_for(
  :session,
  url: signin_path,
  html: { style: 'width: 500px; padding: 1rem; border: 1px solid black', class: "d-flex flex-column" }
) do |f| %>
<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit 'Sign In', class: 'mt-4' %>
<% end %>

