<div class='container d-flex flex-column align-items-center'>
  <h1 class='text text-secondary my-4'>
    <%= t('.title') %>
  </h1>

  <%= form_for(
    resource, as: resource_name,
    url: registration_path(resource_name),
    html: {
      class: 'w-50 p-5 border rounded shadow rounded bg-light',
    }
  ) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-label mb-3">
    <strong>
        <%= f.label :first_name %><br />
    </strong>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",  class: 'form-control form-control-lg', placeholder: t('first_name') %>
  </div>

  <div class="field form-label mb-3">
    <strong>
        <%= f.label :last_name %><br />
    </strong>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",  class: 'form-control form-control-lg', placeholder: t('last_name') %>
  </div>

  <div class="field form-label mb-3">
    <strong>
        <%= f.label :email %><br />
    </strong>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: 'form-control form-control-lg', placeholder: t('email') %>
  </div>

  <div class="field form-label mb-3">
    <strong>
        <%= f.label :password %>
    </strong>
    <!-- <% if @minimum_password_length %> -->
      <!--     <em>(<%= @minimum_password_length %> characters minimum)</em> -->
      <!-- <% end %> -->
    <%= f.password_field :password, autocomplete: "new-password",  class: 'form-control form-control-lg', placeholder: t('password') %>
  </div>

  <div class="field form-label mb-3">
    <strong>
        <%= f.label :password_confirmation %><br />
    </strong>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: 'form-control form-control-lg', placeholder: t('confirm_your_password') %>
  </div>

  <div class="actions d-flex flex-column mx-auto w-25">
    <%= f.submit t('signup'), class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
