<% if user_signed_in? %>
  <div class='d-flex align-items-center ml-auto'>
    <% if !current_user&.avatar? %>
      <a
        href="<%= edit_user_registration_path %>",
        class='user__avatar__sm bg-white d-flex justify-content-center align-items-center text-decoration-none'
        style='color: #3269a8'
        >
        <strong>
          <%= truncate_name(current_user) %>
        </strong>
      </a>
    <% else %>
      <div class='user__avatar__sm'>
        <%= link_to edit_user_registration_path do %>
          <img
            class="w-100 h-100"
            src="<%= current_user.avatar %>"
          />
        <% end %>
      </div>
    <% end %>
    <a href="<%= edit_user_registration_path %>" class="btn mr-5 text-white">
      <strong>
        <%= full_name(current_user) %>
      </strong>
    </a>
    <%= button_to t('logout'), destroy_user_session_path, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn text fw-bold text-white' %>
  </div>
<% else %>
  <a href="<%= new_user_session_path %>" class="ml-auto btn text-white fw-bold">
    <%= t('login')  %>
  </a>
<% end %>
