<div
  class='collection__item__size image__uploader__box rounded-lg d-flex justify-content-center align-items-center position-relative bg-light'
>
  <p class='fw-bold position-absolute h1'>+</p>

  <% display_check = (controller_name == "photos" && action_name == "new" && defined?(photo)) || controller_name == "albums" ? 'd-none' : 'd-block' %>

  <img
    src="<%= defined?(photo) && photo.image_url.url %>"
    class="preview__image w-100 h-100 <%= display_check %> position-absolute"
  />

  <%= form.label file_field_name, "+", class: "image__uploader__label__transparent position-absolute h1 w-100 h-100 d-flex justify-content-center align-items-center" %>
  <%= form.file_field file_field_name, multiple: false, class: "sr-only file__input", html: { autocomplete: "off" } %>

  <button
    type='button'
    class="remove__image__btn image__uploader__remove__btn btn d-none <%= display_check %>"
  >
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>

<script>
  (function() {
    const fileInput = document.querySelector('.file__input');
    const image = document.querySelector('.preview__image');
    const removeImageBtn = document.querySelector('.remove__image__btn');

    fileInput.addEventListener('change', (e) => {
      if (e.target.files.length) {
        const src = URL.createObjectURL(e.target.files[0]);
        image.src = src;
        image.classList.remove('d-none');
        removeImageBtn.classList.remove('d-none');
      }
    });

    removeImageBtn.addEventListener('click', () => {
      fileInput.value = "";
      fileInput.files = null;
      image.src = "";
      image.classList.remove('d-block');
      image.classList.add('d-none');
      removeImageBtn.classList.remove('d-block');
      removeImageBtn.classList.add('d-none');
    });
  })();
</script>

