<% if user_signed_in? %>
  <% at_feeds = controller_name.in?('photos') && action_name.in?('index') ? 'text-primary' : 'text-secondary' %>
  <% at_my_photos = controller_name.in?('photos') && action_name.in?('user_photos') ? 'text-primary' : 'text-secondary' %>
  <% at_my_albums = controller_name.in?('albums') && action_name.in?('user_albums') ? 'text-primary' : 'text-secondary' %>
  <% current_user&.is_admin && at_dashboard = controller_name.in?('dashboard') && action_name.in?('index') ? 'text-primary' : 'text-secondary' %>

  <% set_hidden = current_user&.is_admin ? 'd-none' : 'd-block' %>

  <nav id="sidebar" class="bg-light sidebar bg-transparent">
    <ul class="nav flex-column pl-4">
      <li class="nav-item">
        <a class="nav-link text <%= at_feeds %> <%= set_hidden %>" href="/">
          <strong>
            <%= t('feeds') %>
          </strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text <%= at_my_photos %>" href="/u/photos">
          <strong>
            <%= !current_user&.is_admin ? t('my_photos') : t('admin.manage_photos') %>
          </strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text <%= at_my_albums %>" href="/u/albums">
          <strong>
            <%= !current_user&.is_admin ? t('my_albums') : t('admin.manage_albums') %>
          </strong>
        </a>
      </li>

      <% if current_user&.is_admin %>
        <li class="nav-item">
          <a class="nav-link text <%= at_dashboard %>" href="<%= admin_dashboard_path %>">
            <strong>
              <%= t('admin.manage_users') %>
            </strong>
          </a>
        </li>
      <% end %>

    </ul>
  </nav>
<% end %>
