<% if controller_name == 'photos' || controller_name == 'albums' %>
  <% if !action_name.in?('user_photos') && !action_name.in?('user_albums') %>
    <% active = 'btn-primary text-white' %>
    <% inactive = 'btn-white border-1 border-primary text-primary' %>

    <div class='d-flex justify-content-center py-3'>
      <a class="btn rounded-0 <%= controller_name.in?('photos') ? active : inactive %>" href="<%= photos_path %>">
        <strong>
          <%= t('photo') %>
        </strong>
      </a>
      <a class="btn rounded-0 <%= controller_name.in?('albums') ? active : inactive %>" href="<%= albums_path %>">
        <strong>
          <%= t('album') %>
        </strong>
      </a>
    </div>
  <% end %>
<% end %>
