<div
  class="modal fade"
  id="albumModalCenter<%= model.id %>"
  tabindex="-1" role="dialog"
  aria-labelledby="albumModalCenter<%= model.id %>"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered position-relative" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="albumModalCenter<%= model.id %>">
          <%= model.title %>
        </h5>
      </div>

      <div class="modal-body position-relative">
        <%= render 'albums/album_carousel', model: model %>
      </div>

      <div class="modal-footer w-100">
        <p class='mr-auto'><%= model.description %></p>
      </div>

      <button
        data-dismiss="modal"
        class="btn btn-white"
        style="position: absolute; top: 0; right: 0"
        >
        <i class="fa-solid fa-xmark"></i>
      </button>

    </div>
  </div>
</div>

