<%= form_with(model: album, class: 'custom-album-box-style mb-4') do |form| %>
<% if album.errors.any? %>
<div style="color: red">
    <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

    <ul>
        <% album.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class='container-fluid d-flex flex-column justify-content-between'>
    <div class='d-flex'>
      <div class='d-flex flex-column w-50'>
        <div class="field form-group mb-3">
          <strong>
            <%= form.label :title %>
          </strong>
          <%= form.text_field :title, class: 'form-control form-control-lg' %>
        </div>

        <div class="field form-group mb-3">
          <strong>
            <%= form.label :is_public, 'Sharing mode' %>
          </strong>
          <%= form.collection_select(:is_public, [['Private', false], ['Public', true]], :second, :first, {}, class: 'custom-select') %>
        </div>
      </div>

      <div class="field form-group mb-3 w-50">
        <strong>
          <%= form.label :description %>
        </strong>
        <%= form.text_area :description, rows: 4, class: 'form-control form-control-lg' %>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="d-flex">
        <% album.photos && album.photos.each do |photo| %>
          <div style='width: 200px; height: 200px' class='border border-secondary'>
            <img src="<%= photo.image_url %>" class="w-100 h-100" />
          </div>
        <% end %>
        <div style='width: 200px; height: 200px' class='border border-secondary ms-3'>
          <%= form.file_field :image_url %>
        </div>
      </div>

      <div class='me-auto d-flex'>
        <%= form.submit 'Save', class: 'btn btn-primary me-4' %>
        <% if controller_name == "albums" && action_name == "edit" %>
          <%= link_to 'Delete', album, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: 'btn btn-danger' %>
        <% end %>
      </div>

    </div>

</div>

<hr />


<% end %>
