<%= form_with(model: album, class: 'custom-album-box-style p-4 mb-4', local: true) do |form| %>
<% if album.errors.any? %>
<div style="color: red">
    <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

    <ul>
        <% album.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class='container-fluid d-flex justify-content-between'>
    <div class='w-40'>
        <div class="field form-group mb-3">
            <strong>
                <%= form.label :title %>
            </strong>
            <%= form.text_field :title, class: 'form-control form-control-lg' %>
        </div>

        <div class="field form-group mb-3">
            <strong>
                <%= form.label :is_public, 'Sharing mode' %>
            </strong>
            <%= form.collection_select(:is_public, [['Private', false], ['Public', true]], :second, :first, {}, class: 'custom-select') %>
        </div>

        <div style='width: 200px; height: 200px' class='border border-secondary'>
          <%= form.file_field :image_url %>
        </div>

    </div>

    <div class="field form-group mb-3 w-50">
        <strong>
            <%= form.label :description %>
        </strong>
        <%= form.text_area :description, rows: 4, class: 'form-control form-control-lg' %>
    </div>

</div>

<hr />

<div class='mx-3'>
    <%= form.submit 'Add album', class: 'btn btn-secondary' %>
</div>


<% end %>
