<%= form_with(model: album, class: 'custom-album-box-style mb-4') do |form| %>
  <div class='container-fluid d-flex flex-column justify-content-between'>
    <div class='d-flex'>

      <div class='d-flex flex-column w-50 mr-4'>
        <div class="field form-group mb-3">
          <strong>
            <%= form.label :title %>
          </strong>

          <% if album.errors[:title].size > 0 %>
            <span class='text text-danger'>
              *<%= album.errors[:title].first %>
            </span>
          <% end %>

          <%= form.text_field :title, class: 'form-control form-control-lg' %>
        </div>

        <div class="field form-group mb-3">
          <strong>
            <%= form.label :is_public, t('sharing_mode') %>
          </strong>
          <%= form.collection_select(:is_public, [[t('private_mode'), false], [t('public_mode'), true]], :second, :first, {}, class: 'custom-select') %>
        </div>
      </div>

      <div class="field form-group mb-3 w-50">
        <strong>
          <%= form.label :description %>
        </strong>

        <% if album.errors[:description].size > 0 %>
          <span class='text text-danger'>
            *<%= album.errors[:description].first %>
          </span>
        <% end %>

        <%= form.text_area :description, rows: 4, class: 'form-control form-control-lg' %>
      </div>

    </div>

    <div class="d-flex flex-column">
      <div class="d-flex mb-3 flex-wrap">
        <% album.photos && album.photos.each do |photo| %>
          <%= link_to photo do  %>
            <div class='collection__item__size position-relative border border-secondary mr-4 mb-4 shadow rounded-lg overflow-hidden'>
              <img src="<%= photo.image_url %>" class="w-100 h-100" />
              <%= link_to 'X', photo, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: 'btn top__right delete__image__btn' %>
            </div>
          <% end %>
        <% end %>

        <%= render("shared/image_uploader", form: form, file_field_name: :photo_image) %>

        <% if album.errors[:photos].size > 0 %>
          <span class='text text-danger ml-3'>
            *<%= album.errors[:photos].first %>
          </span>
        <% end %>

      </div>

      <div class='me-auto d-flex'>
        <%= form.submit t('save'), class: 'btn btn-primary mr-2' %>
        <% if controller_name == "albums" && action_name == "edit" %>
          <%= link_to t('delete'), album, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: 'btn btn-danger' %>
        <% end %>
      </div>

    </div>

  </div>

  <hr />

<% end %>

