<%= form_with(model: album, class: 'custom-album-box-style mb-4') do |form| %>
  <% if album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='container-fluid d-flex flex-column justify-content-between'>
    <div class='d-flex'>

      <div class='d-flex flex-column w-50 mr-4'>
        <div class="field form-group mb-3">
          <strong>
            <%= form.label :title %>
          </strong>
          <%= form.text_field :title, class: 'form-control form-control-lg' %>
        </div>

        <div class="field form-group mb-3">
          <strong>
            <%= form.label :is_public, t('sharing_mode') %>
          </strong>
          <%= form.collection_select(:is_public, [[t('private_mode'), false], [t('public_mode'), true]], :second, :first, {}, class: 'custom-select') %>
        </div>
      </div>

      <div class="field form-group mb-3 w-50">
        <strong>
          <%= form.label :description %>
        </strong>
        <%= form.text_area :description, rows: 4, class: 'form-control form-control-lg' %>
      </div>

    </div>

    <div class="d-flex flex-column">
      <div class="d-flex mb-3 flex-wrap">
        <% album.photos && album.photos.each do |photo| %>
          <%= link_to edit_photo_path(photo) do  %>
            <div style='width: 200px; height: 200px; position: relative' class='border border-secondary mr-4 mb-4 shadow rounded-lg overflow-hidden'>
              <img src="<%= photo.image_url %>" class="w-100 h-100" />
              <%= link_to 'X', photo_path(photo), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: 'btn', style: 'position: absolute; top: 0; right: 0; z-index: 10; font-size: 1.5rem; color: lightgray; background: transparent;' %>
                <!-- <button -->
                <!--   type='button' -->
                <!--   class="btn" -->
                <!--   style='position: absolute; top: 0; right: 0; z-index: 10; font-size: 1.5rem; color: lightgray; background: transparent;' -->
                <!-- > -->
                <!-- </button> -->
            </div>
          <% end %>
        <% end %>

        <%= render("shared/image_uploader", form: form, file_field_name: :photo_image) %>

      </div>

      <div class='me-auto d-flex'>
        <%= form.submit t('save'), class: 'btn btn-primary mr-2' %>
        <% if controller_name == "albums" && action_name == "edit" %>
          <%= link_to t('delete'), album, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: 'btn btn-danger' %>
        <% end %>
      </div>

    </div>

  </div>

  <hr />

<% end %>

<script>
  // (function() {
  //   const fileInput = document.querySelector('.file__input');
  //   const image = document.querySelector('.preview__image');
  //   const removeImageBtn = document.querySelector('.remove__image__btn');
  //
  //   fileInput.addEventListener('change', (e) => {
  //     if (e.target.files.length) {
  //       const src = URL.createObjectURL(e.target.files[0]);
  //       image.src = src;
  //       image.classList.remove('d-none');
  //       removeImageBtn.classList.remove('d-none');
  //     }
  //   });
  //
  //   removeImageBtn.addEventListener('click', () => {
  //     fileInput.value = "";
  //     fileInput.files = null;
  //     image.src = "";
  //     image.classList.remove('d-block');
  //     image.classList.add('d-none');
  //     removeImageBtn.classList.remove('d-block');
  //     removeImageBtn.classList.add('d-none');
  //   });
  // })();
</script>
