<div class='h-100 w-75 bg-white mx-auto'>
    <%= render @album %>

    <br />

    <h5>Photos of this album</h5>

    <% if @album.photos.size == 0 %>
        <p> No photos </p>
    <% else  %>
    <div class='d-flex flex-row'>
        <%= render @album.photos.where(is_public: true) %>
    </div>
    <% end %>

    <hr />

    <div>
      <% if current_user && (current_user.id == @album.user_id) %>
        <%= link_to "Edit this album", edit_album_path(@album) %> |
        <%= button_to "Desty this album", @album, method: :delete %>
      <% end %>

      <%= link_to "Back to albums", albums_path %>
    </div>
</div>
