<div class='mh-100 w-100 bg-white mx-auto p-3'>
  <div class='w-100 d-flex justify-content-between'>
    <p class='h4'>
      <strong>
        <%= current_user.is_admin ? t('admin.manage_albums') : t('.title') %>
      </strong>
    </p>

    <a href='<%= new_album_path %>' class='ms-auto btn btn-success text text-white'>
      <strong>
        <%= t('add_new_album') %>
      </strong>
    </a>
  </div>

  <hr />

  <div class='d-flex flex-column flex-wrap' >
    <div id="albums" class='d-flex flex-wrap justify-content-start' style='gap: 1rem'>
      <% @albums.each do |album| %>
      <div class='collection__item__size__md bg-light p-3 shadow bg-light rounded'>
        <%= link_to edit_album_path(album), class: 'position-relative' do %>
          <div class='position-absolute top-0 left-0 d-flex justify-content-between bg-dark text-white w-100 mw-100 p-1' style='opacity: 0.65'>
            <p class='m-0 p-0 p__overflow'>
            <%= album.title  %>
            </p>
            <span>
              <i class="fa-solid fa-pen-to-square"></i>
            </span>
          </div>
          <img
          class="border border-dark w-100 h-100"
          src="<%= album.photos.size > 0 && album.photos.first.image_url %>"
          />
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

</div>
