<div class='container d-flex flex-column justify-items-center align-items-center'>
  <h1 class='text text-secondary my-4'>
    <%= t('.title') %>
  </h1>

  <%= form_for(
    resource, as: resource_name,
    url: session_path(resource_name),
    html: {
      class: 'w-50 py-4 px-5 border rounded shadow rounded bg-light',
    }
  ) do |f| %>

  <div class='w-100 d-flex justify-content-center align-items-center mb-3'>
    <div class='collection__item__size rounded-circle border border-muted bg-light'></div>
  </div>

  <div class="field form-label mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg', placeholder: t('email') %>
  </div>

  <div class="field form-label mb-3">
    <strong>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-lg', placeholder: t('password') %>
    </strong>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label t('remember_me') %>
    </div>
  <% end %>

  <div class="actions d-flex flex-column my-4 w-25 mx-auto">
    <%= f.submit t('login'), class: 'btn btn-primary' %>
  </div>

  <div class="mx-auto w-100 text-center">
    <%= render "devise/shared/links" %>
  </div>

<% end %>

</div>
