<%= form_with(model: photo, class: 'mb-4') do |form| %>
  <div class='container-fluid d-flex justify-content-between'>
    <div class='w-50 mr-3'>
      <div class="field form-group mb-3">
        <strong>
          <%= form.label :title %>
        </strong>

        <% if photo.errors[:title].size > 0 %>
          <span class='text text-danger'>
            *<%= photo.errors[:title].first %>
          </span>
        <% end %>

        <%= form.text_field :title, class: 'form-control form-control-lg w-100' %>
      </div>

      <div class="field form-group mb-3">
        <strong>
          <%= form.label :is_public, t('sharing_mode') %>
        </strong>
        <%= form.collection_select(:is_public, [[t('private_mode'), false], [t('public_mode'), true]], :second, :first, {}, class: 'custom-select') %>
      </div>

      <div class='d-flex'>
        <%= render("shared/image_uploader", form: form, file_field_name: :image_url, photo: photo) %>
        <% if photo.errors[:image_url].size > 0 %>
          <span class='text text-danger ml-3'>
            *<%= photo.errors[:image_url].first %>
          </span>
        <% end %>
      </div>

    </div>

    <div class="field form-group mb-3 w-50">
      <strong>
        <%= form.label :description %>
      </strong>

      <% if photo.errors[:description].size > 0 %>
        <span class='text text-danger'>
          *<%= photo.errors[:description].first %>
        </span>
      <% end %>

      <%= form.text_area :description, rows: 4, class: 'form-control form-control-lg' %>
    </div>

  </div>

  <hr />

  <div class='mx-3'>
    <%= form.submit t('save'), class: 'btn btn-primary'%>
    <% if controller_name == "photos" && action_name == "edit" %>
      <%= link_to t('delete'), photo, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: 'btn btn-danger' %>
    <% end %>
  </div>

<% end %>

