<div
  type="button"
  class="border border-light position-relative shadow m-1 bg-light rounded"
  style="width: 200px; height: 200px;"
  >
  <%= link_to edit_photo_path(photo) do %>
    <div class='position-absolute top-0 left-0 d-flex justify-content-between bg-dark text-white w-100 mw-100 p-1' style='opacity: 0.65'>
      <p class='m-0 p-0' style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis'>
      <%= photo.description  %>
      </p>
      <span>
        <i class="fa-solid fa-pen-to-square"></i>
      </span>
    </div>
  <% end %>

  <img
  class="border border-dark w-100 h-100"
  data-toggle="modal"
  data-target="#exampleModalCenter<%= photo.id %>"
  src="<%= photo.image_url %>"
  />

  <% if !photo.is_public %>
    <div
      class='border border-dark bg-light rounded-circle d-flex justify-content-center align-items-center text text-dark'
      style='width: 30px; height: 30px; position: absolute; bottom: 0.5rem; right: 0.5rem'
      >
      <i class="fa-solid fa-lock"></i>
    </div>
  <% end %>

  <%= render 'photos/photo_model', model: photo  %>
</div>

