<div
  class="modal fade"
  id="photoModalCenter<%= model.id %>"
  tabindex="-1" role="dialog"
  aria-labelledby="photoModalCenter<%= model.id %>"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered position-relative" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="photoModalCenter<%= model.id %>">
          <%= model.title %>
        </h5>
      </div>
      <div class="modal-body position-relative">
        <%= image_tag(model.image_url.url, alt: model.title, class: 'mw-100 mh-100 h-auto') if model.image_url? %>
      </div>

      <div class="modal-body w-100" style='overflow-wrap: break-word'>
        <p class='mr-auto'><%= model.description %></p>
      </div>

      <button
        data-dismiss="modal"
        class="btn btn-white top__right"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>

    </div>
  </div>
</div>
