<div
  type="button"
  class="collection__item__size border border-light position-relative shadow m-1 bg-light rounded"
>
  <%= link_to edit_photo_path(photo) do %>
    <div class='position-absolute top-0 left-0 d-flex justify-content-between bg-dark text-white w-100 mw-100 p-1' style='opacity: 0.65'>
      <p class='m-0 px-1 p__overflow'>
        <%= photo.title  %>
      </p>
      <span>
        <i class="fa-solid fa-pen-to-square"></i>
      </span>
    </div>
  <% end %>

  <img
  class="border border-dark w-100 h-100"
  data-toggle="modal"
  data-target="#photoModalCenter<%= photo.id %>"
  src="<%= photo.image_url %>"
  />

  <% if !photo.is_public %>
    <div class='lock__icon border border-dark bg-light rounded-circle d-flex justify-content-center align-items-center text text-dark'>
      <i class="fa-solid fa-lock"></i>
    </div>
  <% end %>

  <%= render 'photos/photo_modal', model: photo  %>
</div>

